
/**
 * Gravity Forms
 */

.gform_wrapper.gform_wrapper {

  // Inputs
  .gform_footer input.button,
  .gform_footer input[type=submit] {
    @include button( $button-color );
    border-radius: 0;
  }

  input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
  input[type="email"],
  input[type="password"],
  input[type="text"],
  input[type="tel"],
  input[type="number"],
  input[type="url"],
  input[type="search"],
  textarea {
    padding: 0.5em 0.75em;
    border: 2px solid #aaa;
  }

}

input.search-field{
  border-radius: 0 !important;
}

label{
  font-family: $font-heading !important;
}

.gform_legacy_markup_wrapper{
  margin-top: 0 !important;
}
.gform_legacy_markup_wrapper h3.gform_title{
  margin-top: 0 !important;
  margin-bottom: 18px !important;
  color: white !important;
  font-size: 17px !important;
}

.color-option-3{
  .gform_wrapper.gform_wrapper {

    // Inputs
    .gform_footer input.button,
    .gform_footer input[type=submit] {
      @include button( $button-color );
      background-color: transparent !important;
      border: 2px solid #ffffff !important;
      color: #ffffff!important;
      &:hover{
        background-color: $color-teal;
        color: white !important;
      }
    }

    input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    input[type="email"],
    input[type="password"],
    input[type="text"],
    input[type="tel"],
    input[type="number"],
    input[type="url"],
    input[type="search"],
    textarea {
      padding: 0.5em 0.75em;
      border: none !important;
    }

  }
}

div#gform_confirmation_message_5{
  text-align: center;
  font-size: 25px;
}
div#gform_confirmation_message_6{
  text-align: center;
  font-size: 25px;
}
div#gform_confirmation_message_4 {
    font-size: 28px;
    color: $color-teal;
}
div#gform_confirmation_message_2 {
    font-size: 28px;
    color: $color-teal;
}

div#gform_confirmation_message_3 {
    font-size: 28px;
    color: $color-teal;
}

div#gform_confirmation_message_1 {
    @include breakpoint($bp-large){
      text-align: left;
      margin-left: -15px;
    }
}

.gfield_description{
  font-size: 14px;
  font-style: italic;
}

input#input_3_5{
  width: 100% !important;
}

.gform_confirmation_wrapper {
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0em 1em !important;
}

#gform_confirmation_wrapper_1{
  @include breakpoint($bp-xl){
    margin-left: -18px !important;
  }
}

div#field_5_4{
.ginput_container.ginput_container_select{
  border: none !important;
  }
}

.ginput_container.ginput_container_select{
  border: 2px solid #aaa !important;
  select{
    border:0px;
    outline:0px;
  }
}

.page-id-9771, .page-id-8930{
  .mfp-content{
    height: auto !important;
    width: 550px !important;
  }
  input.gform_button{
    background-color: transparent !important;
    color: white !important;
    &:hover{
      background-color: $color-teal !important;
    }
  }
}



.gform_wrapper.gravity-theme .chosen-container-multi .chosen-choices{
  // border: none !important;
}


div#input_3_44_chosen{
  // border: 2px solid #021627;
}

.gform_wrapper.gravity-theme .chosen-container-multi .chosen-choices{
  border: 2px solid #aaa !important;
}
