
/**
 * Site Footer
 */

.site-footer {
  color: #fff;
  background-color: $footer-bkg;
  padding: 2em;
  // padding: 2em 0;
  // padding-bottom: 3em;
  // padding-top: 1.5em;
  @include breakpoint($bp-large){
    height: 460px;
  }
  input{
    color: white !important;
  }
  h5, .h5 {
    color: inherit;
  }

  p {
    margin: 0;
    font-size: 16px;
  }

  a {
    color: inherit;

    &:hover,
    &:focus {
      color: inherit;
    }
  }
  .site-branding{
    margin-bottom: 40px;
    text-align: center;
    @include breakpoint($bp-large){
      text-align: left;
    }
  }
  .l-footer-item{
    width: 100% !important;
    @include breakpoint($bp-large){
      width: 33% !important;
    }
  }
  .l-footer-item--pull-right{
    text-align: center !important;
   @include breakpoint($bp-large){
     text-align: right !important;
   }
  }


  form{
    position: relative !important;
    padding-top: 12px !important;
    @include breakpoint($bp-large){
      padding-top: 0 !important;
    }
    #field_1_1{
      padding-right: 0 !important;
      text-align: center;
      @include breakpoint($bp-large){
        text-align: left;
      }
      input{
        background-color: $color-grey--dark;
        border: none !important;
        padding: .868em .75em !important;
        z-index: 99 !important;
        position: relative !important;
      }
      .gfield_label{
          text-align: center !important;
          // top: 6px !important;
          font-size: 14px !important;
          @include breakpoint($bp-large){
            left: 0 !important;
            right: 0 !important;
            position: absolute !important;
            text-align: left !important;
            left: 62px!important;
            // top: 13px !important;
            top: 13px;
            display: none !important;
          }
        }
    }
    #field_1_2{
      padding-right: 0 !important;
      @include breakpoint($bp-large){
        padding-right: 98px!important;
        margin-top: -23px !important;
      }
      input{
        margin-top: 32px !important;
        background-color: $color-grey--dark;
        border: none !important;
        padding: .868em .75em !important;
        z-index: 99 !important;
        position: relative !important;
      }
      .gfield_label{
        position: absolute;
        // bottom: 175px;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 14px !important;
        @include breakpoint($bp-large){
          // bottom: 132px;
        }
        @include breakpoint($bp-large){
          left: -38px;
          text-align: left;
          padding-left: 2px;
          // bottom: 12px;
        }
      }
    }
    .gform_body{
      // margin-top: 31px !important;
      @include breakpoint($bp-large){
        height: 41px;
      }
      ul{
        list-style: 0 !important;
      }
      @include breakpoint($bp-large){
        // margin-top: -21px !important;
      }
    }
    .gform_footer{
      margin-top: 0 !important;
      @include breakpoint($bp-large){
        margin-top: !important;
        // position: absolute !important;
        right: 0 !important;
        bottom: 0 !important;
        text-align: right !important;
        padding-bottom: 0 !important;
        position: absolute !important;
      }

    }
    .gform_wrapper ul li.gfield{
      margin-top: 11px !important;
    }
    input#gform_submit_button_1{
      color: white !important;
      width: 100% !important;
      margin-right: 0 !important;
      padding: 9px 21px !important;
      @include breakpoint($bp-large){
        width: auto !important;
      }
      &:hover{
        background-color: white !important;
        color: $color-blue--dark !important;
        border: 2px solid white !important;
      }
    }
    .gform_heading {
      @include breakpoint($bp-large){
        margin-top: -20px !important;
      }
      h3.gform_title{
        text-align: center !important;
        margin-top: 5px !important;
        text-transform: none !important;
        color: white;
        font-size: 17px !important;
        font-family: $font-heading !important;
        font-weight: 700 !important;
        padding-right: 85px !important;
        @include breakpoint($bp-large){
          padding-bottom: 21px !important;
        }
      }
    }
    input{
      width: 100%;
    }
    input#input_1_1, input#input_1_2{
      width: 100% !important;
      height: 46px;
      @include breakpoint($bp-large){
        width: 69% !important;
        float: right;
        margin-right: 120px;
        height: 39px;
        margin-top: 2px;
      }
    }
    .ginput_container.ginput_container_text{
      @include breakpoint($bp-large){
        margin-right: 23px;
      }
    }
  }
 .flex-box-right{
   padding: 3.5em 0;
   display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-top: 0;
    @include breakpoint($bp-large){
      .box{
        padding-left: 3em;
      }
      &:before{
        content: "";
        width: 1px;
        position: absolute;
        left: 0;
        top: -32px;
        bottom: 400px;
        height: 440px;
        background: #ffffff5c;
      }
    }
    .form-box{
      @include breakpoint($bp-large){
        padding-left: 20px;
      }
    }
 }
 .flex-box-left{
   padding: 3.5em 0;
   padding-bottom: 0;
   text-align: center;
   @include breakpoint($bp-large){
     text-align: left;
         padding-bottom: 3.5em;
   }
 }
}


/**
 * Main Footer Sections
 */

.primary-footer {
  // padding: 3em 0;
  // padding-bottom: 1.5em;
  .site-logo{
    // max-width: 153px;
    // margin: auto;
    @include breakpoint($bp-large){
      // max-width: none;
      // margin: auto;
    }
  }
}

.site-info {
  // border-top: 2px solid rgba( #fff, 0.3 );
  font-weight: 700;
  padding-top: 0;
  padding-bottom: 2em;
  @include breakpoint($bp-large){
    padding-bottom: 0;
    padding: 1.5em 0;
  }
}


/**
 * Site Address
 */

.address-block {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  font-family: $font-heading;
  @include breakpoint($bp-large) {
    text-align: left;
    padding-bottom: 20px;
  }

  .address-title {
    margin-bottom: 0.5em;
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid rgba( #fff, 0 );
    transition: opacity 500ms;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }
}

.address-contact-info {
  margin-top: 0.5em;
}


/**
 * Site Copyright
 */

.site-copyright {
  text-align: center;
  font-family: $font-heading;
  @include breakpoint($bp-large) {
    text-align: left;
  }
}


/**
 * Imagebox Branding
 */

.imagebox {
  margin-top: 4px;
  text-align: center;
  font-family: $font-heading;
  @include breakpoint($bp-med) {
    margin-top: 0;
    display: inline-block;
    vertical-align: top;
  }

  svg {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: -8px;
    margin-left: 5px;
  }

  a {
    color: #fff;
    transition: opacity 500ms;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }
}

.social-nav-title{
text-align: center;
text-transform: capitalize;
font-size: 17px;
}

.navigation--social{
  .social-nav{
    padding-top: 20px;
    text-align: center;
    @include breakpoint($bp-large){
      text-align: left;
      padding-left: 2px;
      margin-left: -26px;
    }
    @include breakpoint($bp-xl){
      margin-left: 0;
    }
  }
}




.l-footer--gap-large .l-footer-item+.l-footer-item, .l-footer-item+.l-footer-item{
  margin-top: 2em !important;
  @include breakpoint($bp-large){
    margin-top: 0 !important;
  }
}


.button, input[type=submit]{
  color: $color-blue--dark !important;
}
.button:hover, input[type=submit]:hover{
  color: white !important;
  background-color: $color-teal !important;
}

::placeholder{
  color: white;
  opacity: 0.8;
}


.primary-footer{
  .gform_heading{
    h3.gform_title{
      @include breakpoint($bp-large){
        text-align: left;
        margin-left: -46px;
        // padding-left: 22px;
      }
      @include breakpoint($bp-xl){
        text-align: left;
        margin-left: -16px;
        // padding-left: 22px;
      }
    }
  }
}

.navigation--footer{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex-direction: row;
  @include breakpoint($bp-large){
    align-items: center;
    // margin-left: 23px;
  }
  .nav-list{
    padding: 0.5em;
    width: 270px;
    display: flex;
    flex-direction: column;
    text-align: left !important;
    border-top: 2px solid #00b5bc;
    padding-top: 2em;
    @include breakpoint($bp-large){
      padding-left: 22px;
      padding-top: 0;
      height: 56px;
      margin-bottom: 5em;
      border-top: none;
      border-left: 2px solid #00b5bc;
      align-items: flex-start;
      justify-content: center;
      margin-top: -1px;
    }
    li{
      text-align: center;
      a{
        padding-left: 0;
      }
    }
  }
}

input#input_1_1{
  text-align: center;
  @include breakpoint($bp-large){
    text-align: left;
  }
}

.flex-box-center{
  @include breakpoint($bp-large){
    display: flex;
  }
}
