
.page-template-template-home {
  h2{
    font-size: 30px;
    font-weight: 800;
  }
  .callout-split-image-bottom--section{
    background-color: #f0f3f6;
  }
  .callout-split-image-top--section{
    .callout-text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 100%;
      @include breakpoint($bp-large){
        padding-left: 40px;
      }
    }
  }
  .callout--section{
    @include reverse-block-color();
    background-image: url(../img/src/branding/callout-bg.png);
    background-color: $color-teal;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 295px;
    @include breakpoint($bp-med){
      height: 325px;
    }
    @include breakpoint($bp-xl){
      height: 395px;
    }
    span{
      color: $color-blue--dark;
    }
    .button-block{
      flex-direction: row;
      .callout-body{
        padding-left: 0;
      }
    }
    .callout-header{
      margin-bottom: 0;
    }
    .button-callout-content{
      margin-bottom: 0;
    }
  }
  .blog--section{
    a{
      text-decoration: none;
      h3{
        font-size: 19px;
      }
      .card-thumb{
        position: relative;
        overflow: hidden;
        height: 200px;
        img{
          @include block-fit-cover();
        }
      }
      .card-body{
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 2px solid #F0F3F6;
        @include breakpoint($bp-med){
          height: 188px;
          min-height: 240px;
          max-height: 240px;
        }
        .button-white-bg{
          border: 2px solid transparent;
          color: $color-teal !important;
          position: relative;
          padding-left: 0 !important;
          &:hover{
            background-color: transparent !important;
          }
          &:after{
            content: url("../svg/icons/button-arrow-right-icon.svg");
            position: absolute;
            right: 3px;
            top: 13px;
          }
        }
        h3{
          color: $color-blue--dark;
          margin-top: 10px;
        }
        .date{
          font-size: 14px;
          margin-bottom: 0;
          font-weight: 700;
          font-family: $font-heading;
        }
      }
      &:hover{
        .card-body{
          border-bottom: 2px solid $color-teal;
        }
      }
    }
    .wrap{
      display: flex;
      flex-direction: column;
      @include breakpoint($bp-med){
        flex-direction: row;
      }
      @include breakpoint($bp-xl){
        align-items: center;
      }
      .blog-text{
        flex: 0.8;
        @include breakpoint($bp-med){
          padding-right: 66px;
        }
      }
      .blog-posts{
        flex: 2;
        margin-top: 50px;
        @include breakpoint($bp-med){
          margin-top: 0;
        }
        .l-grid-item{
          padding-left: 17px;
          width: 100%;
          @include breakpoint($bp-med){
            width: 50%;
          }
          @include breakpoint($bp-large){
            width: 100%;
          }
          @include breakpoint($bp-xl){
            width: 33%;
          }
        }
      }
    }
  }

  section{
    span{
      color: $color-teal;
    }
  }
}


h2{
  span{
    color: $color-blue--dark;
  }
}
