
.search{
  a{
    .search-page-card-thumb + .search-page-card-banner{
      display: none !important;
    }
    // .search-page-card-banner{
    // }
    // .search-page-card-thumb{
    //
    // }
  }
  .type-page{
    a{
     .card-thumb{
       display: flex !important;
       align-items: center !important;
       justify-content: center !important;
       img{
         height: auto!important;
         position: absolute;
         margin: auto;
         left: -4px;
         top: 0;
         bottom: 0;
       }
     }
     .search-page-card-banner{
       display: none !important;
     }
    }
  }
  .type-post{
    // a{
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   img{
    //     height: auto !important;
    //     position: static !important;
    //   }
    // }
  }
}

.blog-page, .search {
  .wrap--limited{
    @include breakpoint($bp-xl){
      max-width: 72em !important;
    }
  }

  article {
    + article {
      margin-top: 2em;
      padding-top: 2em;
      // border-top: 2px solid $border-color;
    }
    a{
      text-decoration: none;
      h3{
        font-size: 20px;
      }
      .card-thumb{
        position: relative;
        overflow: hidden;
        background-image: url('../img/src/branding/banner-graphic.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 275px;
        @include breakpoint($bp-med){
          height: 275px;
          width: 430px;
        }
        img{
          @include block-fit-cover();
        }
      }
      .card-body{
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 2px solid #F0F3F6;
        @include breakpoint($bp-med){
          // height: 188px;
          // min-height: 200px;
          // max-height: 200px;
        }
        .button-white-bg{
          border: 2px solid transparent;
          color: $color-teal !important;
          position: relative;
          padding-left: 0 !important;
          &:hover{
            background-color: transparent !important;
          }
          &:after{
            content: url("../svg/icons/button-arrow-right-icon.svg");
            position: absolute;
            right: 5px;
            top: 14px;
          }
        }
        h3{
          color: $color-blue--dark;
          margin-top: 10px;
        }
        .date{
          font-size: 14px;
          margin-bottom: 0;
          font-weight: 700;
          font-family: $font-heading;
          color: $color-teal;
        }
      }
      &:hover{
        .card-body{
          border-bottom: 2px solid $color-teal;
        }
      }
    }
  }
}


.comment-reply-title{
  color: white;
}
.comment-form-comment{
  label{
    color:white;
  }

}
#respond{
  background-color: $color-blue--dark;
}

.content--single{
    .entry-footer{
      background-color: $color-blue--dark;
      padding: 2px 30px;
    }
}


.comment-form{
  p.form-submit{
    .button, input[type=submit]{
      color: white !important;
    }
  }
  label{
    color: white !important;
  }
  .comment-notes{
    color: white !important;
  }
}

.entry-meta{
  .byline{
    display: none;
  }
}



.blog, .blog--section, .search{
  article{
    a{
      display: flex;
      flex-direction: column;
      @include breakpoint($bp-med){
        flex-direction: row;
      }
      img{
        flex: 1;
      }
      .card-body{
        flex: 2;
        p{
          color: $color-blue--dark;
        }
        @include breakpoint($bp-med){
          // margin-left: 1.5em;
        }
      }
      .card-thumb + .card-body{
        @include breakpoint($bp-med){
          margin-left: 1.5em;
        }
      }
    }
  }
  .cat{
    font-size: 14px;
    font-family: $font-heading;
    font-weight: 700;
    color: $color-blue--dark;
    margin-bottom: 0;
    font-style: italic;
  }
}

.entry-meta{
  // margin-bottom: 1em;
  p{
    text-transform: none;
    font-family: $font-heading;
    span.posted-on{
      a{
        color: $color-teal;
      }
    }
  }
}

.blog-page, .search{
  h2{
    margin-top: 15px;
  }
}

// .gallery-columns-4 .gallery-item {
//     max-width: 20%;
// }


.gallery{
  display: flex !important;
  justify-content: space-between;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}
.gallery-columns-3 .gallery-item {
    max-width: 33%;
}
.gallery-columns-4 .gallery-item {
    max-width: 25%;
}


.single-post{
  .entry-content{
      margin-top: 1.5em;
  }
}
