//
// .search {
//   article {
//     + article {
//       margin-top: 2em;
//       padding-top: 2em;
//       // border-top: 2px solid $border-color;
//     }
//     a{
//       text-decoration: none;
//       h3{
//         font-size: 20px;
//       }
//       .card-thumb{
//         position: relative;
//         overflow: hidden;
//         height: 300px;
//         img{
//           @include block-fit-cover();
//         }
//       }
//       .card-body{
//         padding: 10px;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         align-items: flex-start;
//         border-bottom: 2px solid #F0F3F6;
//         @include breakpoint($bp-med){
//           height: 188px;
//           min-height: 200px;
//           max-height: 200px;
//         }
//         .button-white-bg{
//           border: 2px solid transparent;
//           color: $color-teal !important;
//           position: relative;
//           padding-left: 0 !important;
//           &:hover{
//             background-color: transparent !important;
//           }
//           &:after{
//             content: url("../svg/icons/button-arrow-right-icon.svg");
//             position: absolute;
//             right: 5px;
//             top: 14px;
//           }
//         }
//         h3{
//           color: $color-blue--dark;
//           margin-top: 10px;
//         }
//         .date{
//           font-size: 14px;
//           margin-bottom: 0;
//           font-weight: 700;
//           font-family: $font-heading;
//         }
//       }
//       &:hover{
//         .card-body{
//           border-bottom: 2px solid $color-teal;
//         }
//       }
//     }
//   }
// }
//
//
// .search-no-results{
//   .page-title{
//     font-size: 32px;
//   }
// }
