
/**
 * Buttons
 */

.button,
input[type="submit"] {
  @include button( $button-color );
  &:hover{
    background-color: $color-teal;
    color: white !important;
  }
}

.button-white-bg{
  @include button( $button-color );
  color: $color-blue--dark !important;
  // padding: 6px 14px !important;
  // @include breakpoint($bp-large){
  //   margin-left: 2em !important;
  // }
  a{
    padding: 0 !important;
    &:hover{
      color: white !important;
    }
  }
  &:hover{
    background-color: $color-teal;
    color: white !important;
  }
}

.button-white{
  @include button( $button-color );
  color: white !important;
  border: 2px solid white;
  &:hover{
    background-color: white;
    color: $color-teal !important;
  }
}

.text-button {
  @include button-reset;
  padding: 0.15em 0;
  border-bottom: 2px solid $button-color;
  color: $button-color;
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 500ms, border-bottom-color 500ms;

  &:hover,
  &:focus {
    border-bottom-color: $button-color--hover;
    color: $button-color--hover;
  }
}


/**
 * Button Group
 */

.button-group {
  margin-top: -8px;
  margin-left: -8px;

  .button {
    margin: 8px;
  }
}

.button:focus{
  background-color: transparent !important;
}



// .get-started-button{
//   a{
//     padding: 8px 15px !important;
//     background: white !important;
//     color: #041423 !important;
//   }
//   &:hover{
//    a{
//      background: $color-teal !important;
//      color: white !important;
//    }
//   }
// }
