
/**
 * Background Colors
 */

.color-option-1 {
  background-color: #fff;
}

.color-option-2 {
  background-color: #F0F3F6;
}

.color-option-3 {
  @include reverse-block-color();
  background-color: $color-teal;
}

.color-option-4 {
  @include reverse-block-color();
  background-color: $color-blue--dark;
}
.background-image {
  @include reverse-block-color();
  background-color: $bkg-dark-grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.color-teal{
  color: $color-teal;
}



.color-blue-form{
  color: #2f9aff;
}
.color-green-form{
  color: #32ff32;
}
.color-orange-form{
  color: #ff9800;
}
.color-red-form{
  color: #ff3636;
}
