
/**
 * Page Banner
 */

.banner {
  position: relative;
  // padding: 5.9375em 0;
  width: 100%;
  background-color: $banner-bkg;
  overflow: hidden;
  z-index: 1;
  background-image: url('../img/src/branding/banner-graphic.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  padding-top: 2em;
  @include breakpoint($bp-med){
    // padding: 6.9375em 0;
    // padding-top: 11em;
    height: 350px;
    padding-top: 5em;
  }
  @include breakpoint($bp-large){
    height: 400px;
  }
  @include breakpoint($bp-xl){
    height: 440px;
  }
  @include breakpoint($bp-mega){
    padding-top: 7em;
  }
  .wrap{
    height: 100%;
    position: relative;
  }
}

.banner-title {
  z-index: 10;
  height: 100%;
  padding-bottom: 2em;
  display: block;
  padding-top: 1em;
  @include breakpoint($bp-med){
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }

  .h1 {
    @include font-size(26);
    margin: 0;
    display: block;
    color: #fff;
    font-family: $font-heading;
    font-weight: 700;
    text-align: left;
    margin-bottom: 0.4em;

    @include breakpoint($bp-med) {
      @include font-size(34);
    }
    @include breakpoint($bp-xl) {
      @include font-size(40);
    }
  }
}



.banner-image {
  @include block-fit-cover( 100em );
  opacity: 1;
}

.banner-graphic{
  position: relative;
  z-index: 9;
  width: 70%;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  max-width: 770px;
}

.page-id-242{
  .banner-graphic{
      max-width: 650px;
  }
}


nav.breadcrumbs{
  display: none !important;
  a{
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-family: $font-heading;
  }
  span{
    font-size: 16px;
    color: white;
    font-weight: 700;
    font-family: $font-heading;
  }
}

.banner-pic{
  position: absolute;
  // top: 0;
  bottom: 16px;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  @include breakpoint($bp-med){
    justify-content: flex-end;
  }
}
.breadcrumb_last{
font-size: 16px;

}

.banner-pic-alt{
  position: absolute;
  right: 0;
  bottom: 0;
  .pic-container{
    height: 100px;
    width: 100%;
    @include breakpoint($bp-med){
      height: 220px;
      width: 540px;
    }
    position: relative;
    overflow: hidden;
    img{
      @include block-fit-cover();
    }
    .banner-graphic{
      padding-bottom: 0;
    }
  }
}

// .banner-title + .banner-pic-alt{
//   display: block;
//   border: 2px solid red;
//   @include breakpoint($bp-med){
//     display: flex;
//   }
// }
