
/**
 * Hero Block
 */

.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  // height: 450px;
  // height: 68vh;
  min-height: 32em;
  max-height: 75.4375em;
  overflow: hidden;
  background-size: 100%;
  background-color: $color-blue--dark;
  // background-image: url(../img/src/branding/hero-graphic.png);
  flex-direction: column;
  padding-top: 4em;
  @include breakpoint($bp-small){
    padding-top: 4em;
  }
  @include breakpoint($bp-med){
    justify-content: center;
    flex-direction: row;
    min-height: 45em;
    height: 923px;
  }
  @include breakpoint($bp-large){
    height: 872px;
  }
  @include breakpoint($bp-mega){
    height: 890px;
  }
  &:before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url('../img/src/branding/hero-graphic-overlay.png');
    z-index: 7;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    // z-index: 10;
    z-index: 9;
    @include breakpoint($bp-large){
      // background-image: url('../svg/icons/bg-gradient-hero.svg');
    }
  }
  &.background-image {
    background-color: $color-blue--dark;
  }

  .wrap {
    position: relative;
    // max-width: 39.625em;
    width: 100%;
    z-index: 10;
    padding: 0 1.5em;
    // min-height: 500px;
    height: 100%;
    @include breakpoint($bp-large){
      height: 100%;
      min-height: 100%;
    }
    @include breakpoint($bp-xl) {
      // max-width: 55.625em;
      padding: 0 0;
    }
    .hero-message{
      position: absolute;
      right: 0;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 19px;
      z-index: 9999;
      width: 100%;
      padding-left: 3em;
      bottom: 0;
      text-align: center;
      background-image: url(../img/src/branding/hero-message-bg-mobile.png);
      @include breakpoint($bp-med){
        // bottom: -128px;
        width: 700px;
        padding-left: 5em;
        // margin-right: -58vw;
        width: 100vw;
      }
      @include breakpoint($bp-large){
        margin-right: -8vw;
        text-align: left;
        background-image: url(../img/src/branding/hero-message-bg.png);
        bottom: 0;
        // width: 710px;
        margin-right: -42vw;
      }
      @include breakpoint($bp-xl){
        margin-right: -50vw;
      }
      @include breakpoint($bp-mega){
        margin-right: -58vw;
      }
      @include breakpoint($bp-mega-xl){
        margin-right: -68vw;
      }
      span{
        color: white;
        display: block;
        position: relative;
        font-weight: 500;
        font-style: italic;
        &:after{
          content: "";
          position: absolute;
          background-image: url('../svg/icons/pin-icon.svg');
          background-repeat: no-repeat;
          height: 50px;
          width: 20px;
          left: -29px;
          height: 28px;
          width: 20px;
          top: 13px;
          left: 78px;
          @include breakpoint($bp-med){
            left: 38px;
          }
          @include breakpoint($bp-large){
            left: -32px;
          }
          @include breakpoint($bp-small-xl){
          top: 0px;
          }
        }
      }
    }
  }
  img{
    text-align: center;
    width: 1100px;
    margin: auto;
    position: absolute;
    left: -261px;
    right: 0;
    top: 213px;
  }
  .hero-message{
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 19px;
    z-index: 9999;
    width: 100%;
    padding-left: 3em;
    bottom: 0;
    background-image: url(../img/src/branding/hero-message-bg-mobile.png);
    @include breakpoint($bp-med){
      bottom: -128px;
      width: 700px;
      padding-left: 5em;
      width: 100vw;
    }
    @include breakpoint($bp-large){
      background-image: url(../img/src/branding/hero-message-bg.png);
      margin-right: -8vw;
      bottom: 0;
      // width: 710px;
      margin-right: -35vw;
    }
    @include breakpoint($bp-xl){
      margin-right: -46vw;
    }
    @include breakpoint($bp-mega){
      margin-right: -58vw;
    }
    @include breakpoint($bp-mega-xl){
      margin-right: -68vw;
    }
    span{
      color: white;
      display: block;
      position: relative;
      font-weight: 500;
      font-style: italic;
      &:after{
        content: "";
        position: absolute;
        background-image: url('../svg/icons/pin-icon.svg');
        background-repeat: no-repeat;
        height: 50px;
        width: 20px;
        left: -29px;
        height: 28px;
        width: 20px;
        left: -32px;
        top: 13px;
        @include breakpoint($bp-small-xl){
        top: 3px;
        }
      }
    }
  }
}

.hero-bkg-image {
  @include block-fit-cover( 10em );
  opacity: 1;
  z-index: 9;
  bottom: 0 !important;
  height: auto !important;
  padding-bottom: 13em;
  @include breakpoint($bp-med){
    padding-bottom: 0;
  }
  @include breakpoint($bp-xl){
    padding-right: 5em;
  }
  @include breakpoint($bp-mega){
    padding-right: 8em;
  }
}

.hero-box {
 // padding-top: 6em;
 @include breakpoint($bp-small){
 }
 @include breakpoint($bp-med){
   padding-top: 20em;
 }
 @include breakpoint($bp-large){
   padding-top: 2em;
 }
}

.hero-content {
  position: relative;
  &:after{
    // background-image: url('../svg/icons/hero-mobile-stroke-2.svg');
    content: "";
    top: -124px;
    left: 4px;
    height: 100%;
    width: 100%;
    z-index: -10;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    @include breakpoint($bp-small){
      background-size: 95%;
      // left: -56px;
      left: 4px;
    }
    @include breakpoint($bp-med){
      top: -161px;
      background-size: 95%;
      left: 9px;
    }
    @include breakpoint($bp-large){
      background-image: url('../svg/icons/hero-stroke-down.svg');
      top: -2em;
      z-index: -10;
      top: -17px;
      // left: -136px;
      background-position: center;
      z-index: -10;
      top: -25px;
      // left: -159px;
      background-size: 100%;
      left: 0;
      z-index: -10;
      top: -25px;
      // left: -148px;
      background-position: left;
      max-width: 930px;
      max-width: 650px;
      // @include breakpoint($bp-large=){
      //   max-width: 690px;
      // }
      @include breakpoint($bp-large-sm){
        max-width: 740px;
      }
      @include breakpoint($bp-xl){
        max-width: 100%;
        background-size: 75%;
        left: 16px;
      }
    }
  }
  // margin-top: 12em;
  margin-top: 0em;
  @include breakpoint($bp-large){
    margin-top: -1em;
  }
  @include breakpoint($bp-xl){
    margin-top: -1em;
  }
  h1 {
    color: #fff;

    @include breakpoint($bp-large) {
      // font-size: 1.875em;
    }
  }

  p {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
  }

  .button {

  }
}

.hero-content{
  display: flex;
  position: relative;
  flex-direction: column;
  // justify-content: space-between;
  // height: 500px;
  @include breakpoint($bp-small){
    align-items: center;
  }
  @include breakpoint($bp-large){
    height: auto;
    flex-direction: row;
    justify-content: space-between;
  }
    &:before{
      position: absolute;
      right: 0;
      margin: auto;
      z-index: -1;
      left: -360px;
      top: 90px;
      @include breakpoint($bp-med){
        left: 0;
        top: 0;
      }
    }
    .hero-content--left{
      // background-color: blue;
      // width: 285px;
      display: flex;
      @include breakpoint($bp-xsmall){
        // width: 300px;
      }
      @include breakpoint($bp-small){
        width: 465px;
      }
      @include breakpoint($bp-med){
        width: 585px;
      }
      @include breakpoint($bp-large){
        padding-top: 0;
        width: auto;
        display: flex;
      }
      h1{
        display: flex;
        flex-direction: column;
       &:first-child{
         margin-bottom: 0;
         line-height: 0.7;
         font-size: 17px;
         font-weight: 500;
         @include breakpoint($bp-small){
           font-size: 17px;
         }
         @include breakpoint($bp-med){
           font-size: 32px;
         }
         @include breakpoint($bp-xl){
           font-size: 43px;
         }
       }
       &:last-child{
         font-size: 32px;
         @include breakpoint($bp-xsmall-xl){
           font-size: 40px;
         }
         @include breakpoint($bp-small){
           font-size: 42px;
         }
         @include breakpoint($bp-med){
           font-size: 62px;
         }
         @include breakpoint($bp-large){
           font-size: 50px;
         }
         @include breakpoint($bp-large-sm){
           font-size: 60px;
         }
         @include breakpoint($bp-xl){
           font-size: 72px;
         }
       }
      }
      .box{
        @include breakpoint($bp-large){
          margin-left: 1.1em;
        }
        @include breakpoint($bp-large-sm){
          margin-left: 30px;
        }
        // @include breakpoint($bp-large-xl){
        //   margin-left: 50px;
        // }
        @include breakpoint($bp-xl){
          margin-left: 26px;
          // margin-left: 95px;
        }
        @include breakpoint($bp-mega){
        }
        h1{
          display: flex;
          // align-items: center;
          font-size: 17px !important;
          color: $color-teal;
          @include breakpoint($bp-small){
            font-size: 17px !important;
          }
          @include breakpoint($bp-xsmall-xl){
            font-size: 40px;
          }
          @include breakpoint($bp-med){
            font-size: 32px !important;
          }
          @include breakpoint($bp-large){
            flex-direction: column;
          }
          @include breakpoint($bp-xl){
            font-size: 43px !important;
            line-height: 39px;
          }
          span{
            font-family: "Montserrat",sans-serif;
            font-weight: 700;
            line-height: 1.2;
            display: block;
            margin-top: -37px;
            font-size: 32px;
            margin-top: -18px;
            margin-top: 0px;
            margin-left: 0;

            @include breakpoint($bp-xsmall-xl){
              font-size: 40px;
              // margin-left: 3px;
            }
            @include breakpoint($bp-small){
              font-size: 42px;
              // margin-left: 3px;
            }
            @include breakpoint($bp-med){
              font-size: 62px;
              // margin-left: 3px;
            }
            @include breakpoint($bp-large){
              margin-top: -10px;
              font-size: 50px;

            }
            @include breakpoint($bp-large-sm){
              font-size: 60px;
            }
            @include breakpoint($bp-xl){
              font-size: 72px;
            }
          }
        }
      }
      .left-headers{
        margin-right: 8px;
        @include breakpoint($bp-med){
          flex: 1;
          margin-right: 20px;
        }
        @include breakpoint($bp-large){
          margin-right: 75px;
        }
        @include breakpoint($bp-large-sm){
          margin-right: 58px;
        }
        @include breakpoint($bp-xl){
          width: 390px;
        }
        h1{
          &:last-child{
            // margin-bottom: 10px;
          }
        }
      }
      .box{
        // flex: 1;
      }
      // .button--reverse{
      //   position: absolute;
      //   right: 36px;
      //   top: 24px;
      //   color: white !important;
      // }
    }
    .hero-content--right{
      // background-color: red;
      // width: 285px;
      margin-top: -10px;
      @include breakpoint($bp-xsmall){
        // width: 300px;
      }
      @include breakpoint($bp-small){
        width: 465px;
      }
      @include breakpoint($bp-med){
        margin-top: 12px;
        width: 585px;
      }
      @include breakpoint($bp-large){
        padding-top: 18em;
        width: 324px;
        padding-bottom: 24em;
        padding-left: 3em;
        padding-left: 10em;
        line-height: 1.4;
        width: auto;
        padding-bottom: 24em;
        // padding-left: 12em;
      }
      @include breakpoint($bp-large){
        // width: 354px;
        padding-left: 10em;
      }
      @include breakpoint($bp-xl){
        // width: 354px;
        padding-left: 11.5em;
      }
      @include breakpoint($bp-mega){
        padding-top: 18em;
      }
      h1{
        margin-bottom: 0;
        color: $color-teal;
        font-size: 32px;
        font-weight: 500;
        @include breakpoint($bp-med){
          font-size: 36px;
        }
        span{
          font-size: 42px;
          font-weight: 700;
          @include breakpoint($bp-med){
            font-size: 62px;
          }
          @include breakpoint($bp-large){
            font-size: 72px;
          }
        }
      }
      p{
        font-size: 16px;
        line-height: 1.5;
        @include breakpoint($bp-large){
          font-weight: 700;
          line-height: 1.4;
          font-size: 14px;
          @include breakpoint($bp-xl){
            font-size: 17px;
          }
        }
      }
      .button{
        color: white !important;
      }
    }
}

.hide-for-mobile{
  display: none;
  @include breakpoint($bp-med){
    display: block;
  }
}
.hide-for-desktop{
  display: block;
  @include breakpoint($bp-med){
    display: none;
  }
}
