
/**
 * Wordpress Comments
 */

#reply-title {}

#respond {
  margin-top: 0;
  padding: 1.5em;
  border-radius: $border-radius;
  background-color: $bkg-light-grey;
  // border-top: 2px solid $color-teal;
  @include breakpoint($bp-med) {
    padding: 2em;
  }

  a {
    color: $link-color;
  }

  .required {
    color: $ui-error;
  }

  input[type="text"],
  input[type="email"],
  input[type="url"],
  textarea {
    width: 100%;
    outline: none;
    padding: 0.5em;
    margin: 0.3125em 0.0625em 0.1875em 0;
    transition: all .25s ease-in-out;
    border: 1px solid $border-color;

    &:focus {
      margin: 0.3125em 0.0625em 0.1875em 0;
      box-shadow: $box-shadow--light;
      border: 1px solid darken(#fff, 5%);
    }
  }
}

ol.comment-list {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
  text-indent: 0;

  li.even {
    background-color: #fff;
  }

  li.odd {
    background-color: $bkg-light-grey;
  }

  li.comment {
    padding: 1em;

    div.vcard img.avatar {
      float: right;
      margin: 0 0 1em 1em;
    }

    p {
      margin: 0 0 1em;
    }

    ul {
      list-style: square;
      margin: 0 0 1em 2em;
    }

    ol.children {
      list-style: none;
      margin: 1em 0 0 3em;
      text-indent: 0;
    }

    div.comment-meta a {
      color: $link-color;
    }
  }
}

.message-box{
  background: #021627;
  color: white;
  padding: 1.7em;
  paddint-top: 0;
  padding-top: 0;
  margin-top: -16px;
}

// .sharing{
//   margin-bottom: 0 !important;
// }

.comment-respond{
  .required-field-message{
    color: white !important;
  }
}

.comment-awaiting-moderation{
  font-size: 20px;
  color: white;
  display: block;
  padding-right: 4em;
  background: #BE4340;
  padding: 1em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.comment-meta{
  margin-top: 2.5em !important;
}
