
/**
 * Entry Content
 */



.entry-content,
.page-content {
  height: 100% !important;

  // Add line below headings
  h1 {
    // position: relative;
    // margin-bottom: 1em;
    // padding-bottom: 1em;

    // &::after {
    //   position: absolute;
    //   left: 0;
    //   bottom: 0;
    //   width: 37px;
    //   height: 2px;
    //   background-color: $heading-line;
    //   content: ' ';
    // }
  }

  // Custom list bullets
  > ul {

    ul {
      margin: 0;
    }

    li {
      position: relative;
      color: #324453;
      font-size: 17px;

      + li {
        margin-top: 0.15em;
      }

      &::marker {
        color: $ul-bullet-color;
      }
    }
  }
}


/**
 * Text Size / Heading Alts
 */

.p-lead {
  color: $heading-color;
  font-size: 20px;
  font-weight: 800;
  font-family: $font-heading;
  line-height: 1.3;
}

.text--large {
  font-size: 1.0625em;
}

.text--small {
  font-size: 0.75em;
}


/**
 * Image Alignment
 */

.alignnone {
  display: block;
  margin: 1em 0;
}

.aligncenter,
.alignright,
.alignleft {
  display: block;
  margin: 1em auto;
}

.alignright {
  @include breakpoint($bp-med) {
    float: right;
    margin-top: 0;
    margin-left: 1em;
    max-width: 50%;
  }
}

.alignleft {
  @include breakpoint($bp-med) {
    float: left;
    margin-top: 0;
    margin-right: 1em;
    max-width: 50%;
  }
}

::marker {
  color: $ul-bullet-color;
}
