
/**
 * Global
 */

.site-main {
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-top: 0;
  @include breakpoint($bp-small){
  }
  @include breakpoint($bp-med){
    margin-top: -213px;
    @supports ( position: sticky ) {
      margin-top: -213px;
    }
  }
}

.page-template-template-home{
 .site-main{
   // No margin for non-sticky header
   @include breakpoint($bp-med) {
       margin-top: -283px;

     @supports ( position: sticky ) {
         margin-top: -283px;
     }
   }


   // margin for sticky header
   @media ( min-width: $bp-med ) and ( min-height: $bp-height-med ) {
     margin-top: -283px;

     @supports ( position: sticky ) {
         margin-top: -283px;
     }
   }
 }
}




/**
 * Layout Wraps
 */

.wrap {
  @include clearfix;
  margin: 0 auto;
  padding: $max-width-spacing;
  max-width: $max-width;
}

.wrap--limited {
  max-width: $max-width--small;
}

.wrap--full {
  max-width: none;

  @include breakpoint($bp-xl) {
    padding: $max-width-spacing--large;
  }
}
