
/**
 * Navigation Search
 */

.nav-item-search {
  position: relative;
  margin-left: 0 !important;
  li{
  }
  button{
    // border: 2px solid $color-teal;
    // border-left: 2px solid $color-teal;
    padding: 19px 12px 17px 6px;
    padding: 14px 11px 14px 7px;
    &:hover{
      // background-color: $color-teal !important;
    }
  }
}

// Copy link styles from nav in which search dropdown lives
.nav-search-button {
  @include button-reset;
  display: block;
  margin: -5px 0;
  padding: 0.5em 0.15em;
  color: $utility-nav-color;
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $utility-nav-color--hover;
  }
}

.nav-search-label {
  display: block;
  position: relative;
  padding-right: 1.75em;

  svg {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.nav-search-dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  padding: 0.5em;
  width: 18em;
  background-color: transparent;
  transform: translateY( 0.5em );
  z-index: 495;
  right: 50px;
  top: -20px;

  .search-bar {
    .search-field {
      border-color: #fff;

      &:focus {
        border-color: #fff;
      }
    }

    .search-submit {
      color: #fff;
      border-color: #fff;
      background-color: $color-blue--dark;

      &:hover,
      &:focus {
        background-color: $color-teal;
      }
      svg{
        color: white;
      }
    }
  }
}
