
/**
 * Footer Navigation
 */

.navigation--footer {
  text-align: center;
  @include breakpoint($bp-large){
    margin-top: 27px;
  }
  ul {
    line-height: 1;

    li {
      vertical-align: baseline;
      margin-right: -5px;

      + li {
        margin-left: 0 !important;
        // border-left: 1px solid white;
        margin-top: 1em;
      }
    }
  }

  a {
    display: block;
    padding: 0 0.75em;
    font-size: 80%;
    text-decoration: none;
   font-family: $font-heading;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .sub-menu {
    display: none;
  }
  .nav-list{
    font-weight: 700;
    @include breakpoint($bp-large){
      float: right;
      text-align: right;
      width: 270px;
    }
    a{
      text-decoration: underline;
      font-size: 17px;
      &:last-child{
        padding-right: 0;
      }
      &:hover{
        text-decoration: none;
      }
    }
  }
}
