
/**
 * Utility Navigation
 */

.minify-header{
  .navigation--utility {
    margin-bottom: 0.5em;
    text-align: right;

    li {
      position: relative;
      + li {
        // padding-left: 0.75em;
        // border-left: 1px solid $border-color;
      }
    }

    a {
      display: block;
      margin: -5px 0;
      // padding: 0.5em 0.15em;
      color: $utility-nav-color;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase !important;
      text-decoration: none;
      &:hover,
      &:focus {
        color: $utility-nav-color--hover;
      }
    }

    .current-menu-item,
    .current-menu-ancestor {
      > a {
        color: $utility-nav-color--active;
      }
    }

    .sub-menu {
      @include list-reset;
      position: absolute;
      left: -9999px;
      top: 100%;
      margin: 0;
      padding: 0.5em 1.4375em;
      min-width: 15em;
      text-align: left;
      z-index: 510;
      opacity: 0;
      background: $color-teal;
      box-shadow: 0 7px 19px -8px rgba( #424242, 0.5 );
      transition: opacity 100ms linear;

      li {
        display: block;
        margin: 0;
      }

      > li {
        + li {
          // border-top: 1px solid $color-blue--dark;
          a{
            // padding-top: 0;
          }
        }
      }
      a {
        padding: 1em 0;
        color: #fff;
        font-size: 1em;

        &:hover,
        &:focus {
          color: $color-blue--dark;
        }
      }
      .current-menu-item,
      .current-menu-ancestor {
        a {
          color: $color-blue--dark;
        }
      }
    }

    li {
      &:hover,
      &.is-active {
        > .sub-menu {
          left: 0;
          opacity: 1;
        }
      }

      &:last-child {
        &:hover,
        &.is-active {
          > .sub-menu {
            left: auto;
            right: 0;
            left: auto;
            // right: 24px;
            // top: 61px;
            z-index: 500;
            right: 7px;
            top: 22px;
          }
        }
      }
    }

    .sub-menu li {
      &:hover,
      &.is-active {
        > .sub-menu {
          left: 100%;
          top: 0;
        }
      }
    }
   .nav-list{
     display: flex;
    align-items: center;
    justify-content: flex-end;
   }



  }
}

.navigation--utility {
  // margin-bottom: 0.5em;
  text-align: right;
  margin-bottom: 25px;

  li {
    position: relative;
    font-family: $font-heading;
    text-transform: uppercase;
    padding: 7px 10px;
    &:hover{
      a{
        color: $color-teal;
      }
    }
    &:nth-of-type(2){
      border-left: 2px solid $color-teal;
      border-right: 2px solid $color-teal;
      a{
        padding: 2px 7px;
      }
    }
    + li {
      // padding-left: 0.75em;
      // border-left: 1px solid $border-color;
    }
  }

  a {
    display: block;
    margin: -5px 0;
    // padding: 0.5em 0.15em;
    color: $utility-nav-color;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase !important;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $utility-nav-color--hover;
    }
  }

  .current-menu-item,
  .current-menu-ancestor {
    > a {
      color: $utility-nav-color--active;
    }
  }

  .sub-menu {
    @include list-reset;
    position: absolute;
    left: -9999px;
    top: 100%;
    margin: 0;
    padding: 0.5em 1.4375em;
    min-width: 15em;
    text-align: left;
    z-index: 510;
    opacity: 0;
    background: $color-teal;
    box-shadow: 0 7px 19px -8px rgba( #424242, 0.5 );
    transition: opacity 100ms linear;

    li {
      display: block;
      margin: 0;
      padding-left: 0;
      padding-right: 0;
      a{
        padding: 7px 0px !important;
        color: white;
      }
      &:hover{
        a{
          // color: $color-teal;
        }
      }
    }

    > li {
      + li {
        // border-top: 1px solid $color-blue--dark;
        a{
          // padding-top: 0;
        }
      }
    }
    a {
      padding: 1em 0;
      color: #fff;
      font-size: 1em;
      text-transform: none !important;
      &:hover,
      &:focus {
        color: $color-blue--dark;
      }
    }
    .current-menu-item,
    .current-menu-ancestor {
      a {
        color: $color-blue--dark;
      }
    }
  }

  li {
    &:hover,
    &.is-active {
      > .sub-menu {
        left: -58px;
        opacity: 1;
      }
    }

    &:last-child {
      &:hover,
      &.is-active {
        > .sub-menu {
          left: auto;
          right: 0;
          left: auto;
          right: 24px;
          top: 81px;
          z-index: 500;
          right: 5px;
          top: 21px;
        }
      }
    }
  }

  .sub-menu li {
    &:hover,
    &.is-active {
      > .sub-menu {
        left: 100%;
        top: 0;
      }
    }
  }
 .nav-list{
   display: flex;
  align-items: center;
  justify-content: flex-end;
 }



}

.nav-item-phone{
  margin-left: 0 !important;
  a{
    color: white;
    font-size: 16px;
    font-family: $font-heading;
  }
}
