
/**
 * Sidebar Navigation
 */

.sidebar-nav {
  background-color: #F0F3F6;
  padding: 15px 30px;
  ul {
    @include list-reset;
  }

  li {
    display: block;
    margin: 0;

    + li {
      border-top: 2px solid #DBDBDB;
    }
  }

  a {
    display: block;
    padding: 0.75em 0;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    transition: color 500ms;
    font-size: 18px;
    font-family: $font-heading;
    &:hover,
    &:focus {
      color: $nav-link-color--hover;
    }
  }

  .children {
    display: block;
    margin-left: 1em;
  }

  .current_page_item,
  .current_page_ancestor {
    > a {
      color: $color-teal;
    }
  }

  .current_page_item,
  .current_page_ancestor {
    > .children {
      display: block;
    }
  }
}
