
/**
 * Main Navigation
 */

.navigation--main {
  position: relative;
  width: 100%;
  text-align: right;
  z-index: 490;
  margin-top: 13px;

  li {
    position: relative;
  }

  a {
    display: block;
    padding: 0.5em 0.15em;
    color: $main-nav-color;
    font-family: $font-heading;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;

    @include breakpoint($bp-large) {
      font-size: 17px;
    }

    @include breakpoint($bp-xl) {
      font-size: 17px;
    }

    &:hover,
    &:focus {
      color: $color-teal;
      text-decoration: none;
    }
  }

  > ul {
    > li {
      + li {
        margin-left: 1.5em;
      }
    }
  }

  .current-menu-item,
  .current-menu-ancestor {
    > a {
      color: $color-teal;
    }
  }

  .sub-menu {
    @include list-reset;
    position: absolute;
    left: -9999px;
    top: 100%;
    margin: 0;
    padding: 0.5em 1.4375em;
    min-width: 15em;
    text-align: left;
    z-index: 490;
    opacity: 0;
    background: $color-teal;
    box-shadow: 0 7px 19px -8px rgba( #424242, 0.5 );
    transition: opacity 100ms linear;

    li {
      display: block;
      margin: 0;
    }

    > li {
      + li {
        // border-top: 1px solid $color-blue--dark;
        a{
          // padding-top: 0;
        }
      }
    }
    a {
      padding: 1em 0;
      color: #fff;
      font-size: 1em;
      padding: 0.6em 0;
      &:hover,
      &:focus {
        color: $color-blue--dark;
      }
    }
    .current-menu-item,
    .current-menu-ancestor {
      a {
        color: $color-blue--dark;
      }
    }
  }

  li {
    &:hover,
    &.is-active {
      > .sub-menu {
        left: 0;
        opacity: 1;
      }
    }

    &:last-child {
      &:hover,
      &.is-active {
        > .sub-menu {
          left: auto;
          right: 0;
        }
      }
    }
  }

  .sub-menu li {
    &:hover,
    &.is-active {
      > .sub-menu {
        left: 100%;
        top: 0;
      }
    }
  }
  .nav-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    align-items: center;
  }
  .button-white-bg{
    padding: 6px 14px !important;
    text-transform: none !important;
    @include breakpoint($bp-large){
      margin-left: 2em !important;
    }
  }
  .navigation--main .menu-item-has-children>a:after{
    content: url(../svg/icons/desktop-menu-item-has-child-icon.svg);
    margin-left: 8px;
    border: 2px solid red;
    height: 20px;
    width: 20px;
  }

  .navigation--main .menu-item-has-children>a{
    position: relative;
  }
}

.nav-color-teal{
  a{
    color: $color-teal !important;
  }
}

.navigation--main .menu-item-has-children>a:after{
  content: "\02C7";
    margin-left: 8px;
    position: absolute;
    width: 14px;
    height: 14px;
    /* background: red; */
    right: -13px;
    top: 10px;
    font-size: 33px;
    font-weight: 300;
}

.navigation--main .menu-item-has-children>a{
  position: relative;
}
