
/**
 * Mobile Navigation
 */

.mobile-nav-tray {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff;
  overflow-y: scroll;
  transition: transform 350ms;
  text-align: center;
  @include breakpoint($bp-med) {
    display: none;
  }

  .admin-bar & {
    padding-top: 2.875em;
  }

  .show-nav & {
    transform: translateX( -100% );
    transform: translate3d( -100%, 0, 0 );

    @include breakpoint($bp-med) {
      transform: translateX( 0 );
      transform: translate3d( 0, 0, 0 );
    }
  }
  .nav-item-phone{
    margin-top: 20px;
    a{
      color: $color-blue--dark;
      text-decoration: none;
      font-weight: 700;
      font-size: 26px;
    }
  }
  li::marker{
    content: "";
  }
}


.mobile-nav-header {
  padding: 2em 1em;
  text-align: right;
  margin-bottom: 22px;
  background-color: $color-blue--dark;
  display: flex;
  justify-content: space-between;

  a {
    display: inline-block;
    vertical-align: top;
  }
}

.navigation--mobile {
  padding: 2em 0;
  padding-top: 0;
}

.mobile-nav {
  @include list-reset;

  + .mobile-nav {
    // margin-top: 1em;
    // padding-top: 1em;
    // border-top: 1px solid #dedede;
  }

  ul {
    @include list-reset;
  }

  li {
    margin: 0;

    + li {}
  }

  a {
    display: block;
    padding: .25em;
    color: $color-blue--dark;
    font-family: $color-blue--dark;
    font-size: 1.625em;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    transition: color 500ms;

    &:hover,
    &:focus {
      color: $color-teal;
    }
  }

  .sub-menu {
    display: none;

    a {
      font-size: 1.125em;
    }
  }
}

.mobile-nav--main {

}

.mobile-nav--utility {
  margin-top: 0;
margin-bottom: 0;
  a {
    // font-size: 1em;
  }
}


.mobile-nav--search {
  margin-top: 2em;
  padding: 0 1em;
  margin-top: 0.5em;
  form.search-form{
    padding-top: 0 !important;
  }


  .search-bar {
    .search-submit {
      border-color: $color-blue--dark;
      font-size: 1.1875em;
      background: $color-blue--dark;

      &:hover,
      &:focus {
        background: $color-teal;
        border-color: $color-teal;
      }
    }

    .search-field {
      border: 2px solid $color-blue--dark;
      border-radius: 3px;
      font-size: 1.1875em;

      &:focus {
        border-color: $color-blue--dark;
      }
    }
  }
}
.mobile-nav{
  .button-white-bg{
    &:hover{
      a{
        color: white !important;
      }
    }
  }
}
