
/**
 * Posts Pagination
 */

.pagination {
  margin-top: 2.5em;
    /* padding-top: 2.5em; */
    /* border-top: 2px solid #f2eee9; */
  text-align: center;
  width: 100%;
  @include breakpoint($bp-med){
    padding-left: 2em;
  }

  ul {
    @include list-reset;
  }

  li {
    display: inline-block;
    vertical-align: top;
    margin: 0;

    + li {
      margin-left: 0.5em;
    }
  }

  .page-numbers {
    .page-numbers {
      display: block;
      padding: 0.5em 0.969em;
      // border-radius: 3px;
      color: #fff;
      transition: background-color 500ms;
      text-decoration: none;
      background-color: $color-teal;

      &:hover,
      &:focus {
        background-color: $color-blue--dark;
      }

      &.current,
      &.dots {
        color: $text-color;
        background-color: $bkg-light-grey;
        cursor: default;
      }

      &.prev,
      &.next {
        padding: 0.5em 0.75em;
      }
    }
  }
}
